body{
  font-size: 14px;
}
.container{
width: 80%;
margin: 50px auto;
font-family: 'Crete Round', serif;
}

.container h1{
  font-size: 40px;
}

.container p{
  font-size: 20px
}

.contact-box{
  background:#202240;
  display: flex;
}

.contact-left{
  flex-basis: 50%;
  padding: 40px 60px;
  color: antiquewhite;
}

.contact-right{
  flex-basis: 50%;
  padding: 40px;
  background:#D0C7C2;
  font-size: 17;
}

h1{margin-bottom: 10px}

.container p{margin-bottom: 40px}

.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group{
  flex-basis: 45%;
}
input{
  width:100%;
  border:none;
  border-bottom: 1px solid #D0C7C2;
  outline: none;
padding-bottom:5px;
}
textarea{width: 100%;
border:1px solid #ccc;
padding: 10px;
box-sizing: border-box;
}
label{
  margin-bottom: 6px;
  display: block;

}
button{
  background: #D0C7C2;
  width: 100px;
  border:none;
  outline:none;
  color:#202240;
  height:35px;
  border-radius: 30px;
  margin-top:20px ;
  box-shadow: 0px 5px 15px 0px rgba(28,0,181, 0.3);
  cursor: pointer;
}

button:hover{
  background-color: #808080;
}
.contact-right h3{
  color:#202240;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-left h3{
  color:#D0C7C2 ;
  font-weight: 600;
  margin-bottom: 30px;
}
tr td:first-child{
  padding-right: 20px;
}
tr td{
  padding-top: 20px;
}

.sources{
  text-align: center;
}

.sources button{
  background-color: #202240;
  color:#D0C7C2;
}

.sources button:hover{
  background-color: #00008b;
  cursor: pointer;
}

